@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap";
@media only screen and (max-width: 600px) {
  *{ margin: 0;
    padding: 0;
  }
  .nav-links{
    position: absolute;
    background: #003782;
    color:#fff;
    height: 83vh;
    width: 200px;
    top:0;
    left: -100%;
    text-align: left;
    z-index: 2;


  }
  .nav-links ul li a{

    text-decoration: none;
    color: #fff;
    font-size: 17px;
    padding: 8px 12px;

}
.thenav img{
  width: 80px;
  margin-left: -18px;
  margin-top: 2px;
}
.thenav h1{

  color: #003782;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  margin-top: -70px;
}

.nav-links ul li{
  display: block;
  padding: 5px;

}

#check:checked ~ .nav-links{
  left: 0;
}
.checkbtn .las{
  color: #e6b012;
  float: right;
  line-height: 80px;
  font-size: 30px;
  margin-top: -50px;
  margin-right: 10px;
}
#check{
  display: none;
}
.nav-links ul{
  padding: 30px;
}


.main{
  width: 100%;
  height: 1240vh;
  background:linear-gradient(to right,#00265cb7 0%,#00265cb7 100%),url(slider.jpg);
  background-position: center;
  background-size: cover;
}
h1{
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  position: relative;
  top: 2%;
}
.row{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;

}
.box{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 750px;
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 5px;
  background-size: 100% 200%;
  transition: all .8s;
}

.box img{
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.box p{
  text-align: center;
  font-size: 13px;
  color:#fff;
}
h3{
   font-size: 15px;
   color: #fff;
}
h2{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color:#e6b012;
  padding:10px;
}
.row1{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;

}
.box1{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 520px;
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 5px;
  background-size: 100% 200%;
  transition: all .8s;
}

.box1 img{
  width: 150px;
  height: 2;
  border-radius: 50%;
}
.box1 p{
  text-align: center;
  font-size: 13px;
  color:#fff;
}
.row2{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;

}
.box2{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 5px;
  background-size: 100% 200%;
  transition: all .8s;
}

.box2 img{
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.box2 p{
  text-align: center;
  font-size: 13px;
  color:#fff;
}

}
@media only screen and (min-width: 600px) {
  *{ margin: 0;
    padding: 0;
  }
  .thenav{
    display: flex;
    justify-content:center ;
    align-items: right;
    background: #fff;
    position: sticky;
    top: 0;

}
.thenav img{
  width: 70px;
  margin-left: -180px;
  margin-top: 5px;
}
.nav-links ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.nav-links ul li{
    font-family: Arial;
    font-size: 18px;
    position: relative;
    right: -28%;

}
.thenav h1{
  color: #003782;
  margin-top: 15px;
  position: relative;
  font-weight: bold;
  left: -8%;
}
.nav-links ul li a{
    text-decoration: none;
    color: #003782;
    padding: 8px 12px;
    transition: all .5s ease;
}
.nav-links ul li a:hover{
    background-color: #003782;
    border-radius: 3px;
    color: #fff;

}

}
@media only screen and (min-width: 768px) {
  *{ margin: 0;
    padding: 0;
  }
  .thenav{
    display: flex;
    justify-content:center ;
    align-items: right;
    background: #fff;
    position: sticky;
    top: 0;

}
.thenav img{
  width: 110px;
  margin-left: 1px;
  margin-top: 5px;
}
.nav-links ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.nav-links ul li{
    font-family: Arial;
    font-size: 18px;
    position: relative;
    right: 2%;

}
.thenav h1{
  color: #003782;
  margin-top: 12px;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  left: -5%;
}
.nav-links ul li a{
    text-decoration: none;
    color: #003782;
    padding: 8px 12px;
    transition: all .5s ease;
    font-size: 13px;
}
.nav-links ul li a:hover{
    background-color: #003782;
    border-radius: 3px;
    color: #fff;

}
.main{
  width: 100%;
  height: 1240vh;
  background:linear-gradient(to right,#00265cb7 0%,#00265cb7 100%),url(slider.jpg);
  background-position: center;
  background-size: cover;
}
h1{
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  position: relative;
  top: 2%;
}
.row{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;

}
.box{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 750px;
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 5px;
  background-size: 100% 200%;
  transition: all .8s;
}

.box img{
  width: 200px;
  height: 200;
  border-radius: 50%;
}
.box p{
  text-align: center;
  font-size: 15px;
  color:#fff;
}
h3{
   font-size: 15px;
   color: #fff;
}
h2{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color:#e6b012;
  padding:10px;
}
.row1{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;

}
.box1{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 520px;
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 5px;
  background-size: 100% 200%;
  transition: all .8s;
}

.box1 img{
  width: 200px;
  height: 200;
  border-radius: 50%;
}
.box1 p{
  text-align: center;
  font-size: 15px;
  color:#fff;
}
.row2{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;

}
.box2{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 5px;
  background-size: 100% 200%;
  transition: all .8s;
}

.box2 img{
  width: 200px;
  height: 200;
  border-radius: 50%;
}
.box2 p{
  text-align: center;
  font-size: 15px;
  color:#fff;
}
#check{
  display: none;
}
.checkbtn{
  display: none;
}
}

@media only screen and (min-width: 992px) {
  *{ margin: 0;
    padding: 0;
  }
  .nav-links{
    display: flex;
    justify-content:center ;
    align-items: right;
    background: #fff;
    position: sticky;
    top: 0;

}
.thenav img{
  width: 130px;
  margin-left: -160px;
  margin-top: 5px;
}
.nav-links ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.thenav h1{
  color: #003782;
  margin-top: 25px;
  font-size: 20px;
  position: relative;
  font-weight: bold;
  left: -4%;
}
.nav-links h1{
  color: #003782;
  margin-top: 15px;
  position: relative;
  left: -6%;
}
.nav-links ul li a{
    text-decoration: none;
    color: #003782;
    padding: 8px 12px;
    transition: all .5s ease;
}
.nav-links ul li a:hover{
    background-color: #003782;
    border-radius: 3px;
    color: #fff;

}
.main{
  width: 100%;
  height: 710vh;
  background:linear-gradient(to right,#00265cb7 0%,#00265cb7 100%),url(slider.jpg);
  background-position: center;
  background-size: cover;
}
h1{
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  position: relative;
  top: 2%;
}
.row{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;

}
.box{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 750px;
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 5px;
  background-size: 100% 200%;
  transition: all .8s;
}

.box img{
  width: 200px;
  height: 200;
  border-radius: 50%;
}
.box p{
  text-align: center;
  font-size: 15px;
  color:#fff;
}
h3{
   font-size: 15px;
   color: #fff;
}
h2{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color:#e6b012;
  padding:10px;
}
.row1{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;

}
.box1{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 520px;
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 5px;
  background-size: 100% 200%;
  transition: all .8s;
}

.box1 img{
  width: 200px;
  height: 200;
  border-radius: 50%;
}
.box1 p{
  text-align: center;
  font-size: 15px;
  color:#fff;
}
.row2{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;

}
.box2{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 5px;
  background-size: 100% 200%;
  transition: all .8s;
}
@media only screen and (max-width: 600px) {
  *{ margin: 0;
    padding: 0;
  }
nav img{
  width: 35px;
  margin-left: -80px;
  margin-top: 2px;
}
.nav-links
{
  display: none;
}

.nav-links ul li{
  display: block;
  padding: 5px;

}
.nav-links{
  position: absolute;
  background: #003782;
  color:#fff;
  height: 70vh;
  width: 200px;
  top:0;
  right: 0;
  text-align: left;
  z-index: 2;
}

nav .las{
  display: block;
  color: #e6b012;
  margin: 10px;
  font-size: 23px;
  font-weight: bold;
  cursor: pointer;
}

.nav-links h1{

  color: #003782;
  margin-top: -47px;
  position: relative;
  left: -22%;
  font-weight: bold;
  font-size: 13px;
}
.nav-links ul li a{

    text-decoration: none;
    color: #fff;
    font-size: 17px;
    padding: 8px 12px;
}
.main{
  width: 100%;
  height: 1240vh;
  background:linear-gradient(to right,#00265cb7 0%,#00265cb7 100%),url(slider.jpg);
  background-position: center;
  background-size: cover;
}
h1{
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  position: relative;
  top: 2%;
}
.row{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;

}
.box{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 750px;
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 5px;
  background-size: 100% 200%;
  transition: all .8s;
}

.box img{
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.box p{
  text-align: center;
  font-size: 13px;
  color:#fff;
}
h3{
   font-size: 15px;
   color: #fff;
}
h2{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color:#e6b012;
  padding:10px;
}
.row1{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;

}
.box1{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 520px;
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 5px;
  background-size: 100% 200%;
  transition: all .8s;
}

.box1 img{
  width: 150px;
  height: 2;
  border-radius: 50%;
}
.box1 p{
  text-align: center;
  font-size: 13px;
  color:#fff;
}
.row2{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;

}
.box2{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 5px;
  background-size: 100% 200%;
  transition: all .8s;
}

.box2 img{
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.box2 p{
  text-align: center;
  font-size: 13px;
  color:#fff;
}

}
@media only screen and (min-width: 600px) {
  *{ margin: 0;
    padding: 0;
  }
  .nav-links{
    display: flex;
    justify-content:center ;
    align-items: right;
    background: #fff;
    position: sticky;
    top: 0;

}
nav img{
  width: 70px;
  margin-left: -180px;
  margin-top: 5px;
}
.nav-links ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.nav-links ul li{
    font-family: Arial;
    font-size: 18px;
    position: relative;
    right: -28%;

}
.nav-links h1{
  color: #003782;
  margin-top: 15px;
  position: relative;
  left: -8%;
}
.nav-links ul li a{
    text-decoration: none;
    color: #003782;
    padding: 8px 12px;
    transition: all .5s ease;
}
.nav-links ul li a:hover{
    background-color: #003782;
    border-radius: 3px;
    color: #fff;

}
#check{
  display: none;
}
.checkbtn{
  display: none;
}

} 
 @media only screen and (min-width: 768px) {
  *{ margin: 0;
    padding: 0;
  }
  .nav-links{
    display: flex;
    justify-content:center ;
    align-items: right;
    background: #fff;
    position: sticky;
    top: 0;

}
nav img{
  width: 60px;
  margin-left: 1px;
  margin-top: 5px;
}
.nav-links ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.nav-links ul li{
    font-family: Arial;
    font-size: 18px;
    position: relative;
    right: 2%;

}
.nav-links h1{
  color: #003782;
  margin-top: 15px;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  left: 1%;
}
.nav-links ul li a{
    text-decoration: none;
    color: #003782;
    padding: 8px 12px;
    transition: all .5s ease;
    font-size: 13px;
}
.nav-links ul li a:hover{
    background-color: #003782;
    border-radius: 3px;
    color: #fff;

}
.main{
  width: 100%;
  height: 1240vh;
  background:linear-gradient(to right,#00265cb7 0%,#00265cb7 100%),url(slider.jpg);
  background-position: center;
  background-size: cover;
}
h1{
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  position: relative;
  top: 2%;
}
.row{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;

}
.box{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 750px;
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 5px;
  background-size: 100% 200%;
  transition: all .8s;
}

.box img{
  width: 200px;
  height: 200;
  border-radius: 50%;
}
.box p{
  text-align: center;
  font-size: 15px;
  color:#fff;
}
h3{
   font-size: 15px;
   color: #fff;
}
h2{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color:#e6b012;
  padding:10px;
}
.row1{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;

}
.box1{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 520px;
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 5px;
  background-size: 100% 200%;
  transition: all .8s;
}

.box1 img{
  width: 200px;
  height: 200;
  border-radius: 50%;
}
.box1 p{
  text-align: center;
  font-size: 15px;
  color:#fff;
}
.row2{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;

}
.box2{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 5px;
  background-size: 100% 200%;
  transition: all .8s;
}

.box2 img{
  width: 200px;
  height: 200;
  border-radius: 50%;
}
.box2 p{
  text-align: center;
  font-size: 15px;
  color:#fff;
}
#check{
  display: none;
}
.checkbtn{
  display: none;
}
}
@media only screen and (min-width: 992px) {
  *{ margin: 0;
    padding: 0;
  }
  .nav-links{
    display: flex;
    justify-content:center ;
    align-items: right;
    background: #fff;
    position: sticky;
    top: 0;

}
nav img{
  width: 70px;
  margin-left: -140px;
  margin-top: 5px;
}
.nav-links ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.nav-links ul li{
    font-family: Arial;
    font-size: 18px;
    position: relative;
    right: -28%;

}
.nav-links h1{
  color: #003782;
  margin-top: 15px;
  position: relative;
  left: -6%;
}
.nav-links ul li a{
    text-decoration: none;
    color: #003782;
    padding: 8px 12px;
    transition: all .5s ease;
}
.nav-links ul li a:hover{
    background-color: #003782;
    border-radius: 3px;
    color: #fff;

}
.main{
  width: 100%;
  height: 710vh;
  background:linear-gradient(to right,#00265cb7 0%,#00265cb7 100%),url(slider.jpg);
  background-position: center;
  background-size: cover;
}
h1{
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  position: relative;
  top: 2%;
}
.row{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;

}
.box{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 750px;
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 5px;
  background-size: 100% 200%;
  transition: all .8s;
}

.box img{
  width: 200px;
  height: 200;
  border-radius: 50%;
}
.box p{
  text-align: center;
  font-size: 15px;
  color:#fff;
}
h3{
   font-size: 15px;
   color: #fff;
}
h2{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color:#e6b012;
  padding:10px;
}
.row1{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;

}
.box1{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 520px;
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 5px;
  background-size: 100% 200%;
  transition: all .8s;
}

.box1 img{
  width: 200px;
  height: 200;
  border-radius: 50%;
}
.box1 p{
  text-align: center;
  font-size: 15px;
  color:#fff;
}
.row2{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;

}
.box2{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 5px;
  background-size: 100% 200%;
  transition: all .8s;
}

.box2 img{
  width: 200px;
  height: 200;
  border-radius: 50%;
}
.box2 p{
  text-align: center;
  font-size: 15px;
  color:#fff;
}
#check{
  display: none;
}
.checkbtn{
  display: none;
}
}
 


@media only screen and (min-width: 1200px) {
  *{ margin: 0;
    padding: 0;
  }
  .thenav{
    display: flex;
    justify-content:center ;
    align-items: right;
    background: #fff;
    position: sticky;
    top: 0;

}
.thenav img{
  width: 160px;
  margin-left: -200px;
  margin-top: 5px;
}
.nav-links ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.nav-links ul li{
    font-family: Arial;
    font-size: 18px;
    position: relative;
    right: -25%;

}
.thenav h1{
  color: #003782;
  margin-top: 32px;
  position: relative;
  left: -5%;
  font-weight: bold;
  font-size: 24px;
}
.nav-links ul li a{
    text-decoration: none;
    color: #003782;
    padding: 8px 12px;
    transition: all .5s ease;
    font-size: 19px;
}
.nav-links ul li a:hover{
    background-color: #003782;
    border-radius: 3px;
    color: #fff;

}

.main{
  width: 100%;
  height: 410vh;
  background:linear-gradient(to right,#00265cb7 0%,#00265cb7 100%),url(slider.jpg);
  background-position: center;
  background-size: cover;
}
h1{
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  position: relative;
  top: 2%;
}
.row{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;

}
.box{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 750px;
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 5px;
  background-size: 100% 200%;
  transition: all .8s;
}

.box img{
  width: 200px;
  height: 200;
  border-radius: 50%;
}
.box p{
  text-align: center;
  font-size: 15px;
  color:#fff;
}
h3{
   font-size: 15px;
   color: #fff;
}
h2{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color:#e6b012;
  padding:10px;
}
.row1{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;

}
.box1{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 520px;
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 5px;
  background-size: 100% 200%;
  transition: all .8s;
}

.box1 img{
  width: 200px;
  height: 200;
  border-radius: 50%;
}
.box1 p{
  text-align: center;
  font-size: 15px;
  color:#fff;
}
.row2{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;

}
.box2{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 5px;
  background-size: 100% 200%;
  transition: all .8s;
}

.box2 img{
  width: 200px;
  height: 200;
  border-radius: 50%;
}
.box2 p{
  text-align: center;
  font-size: 15px;
  color:#fff;
}
#check{
  display: none;
}
.checkbtn{
  display: none;
}
}

@media (min-width:1920px)
{
  *{
      margin: 0;
      padding: 0;
    }
    .thenav{
      display: flex;
      justify-content:center ;
      align-items: right;
      background: #fff;
      position: sticky;
      top: 0;
  
  }
  .thenav img{
    width: 160px;
    margin-left: -485px;
    margin-top: 5px;
    filter: brightness(1);
    filter: contrast(1.75);
    filter: blur(-5);
  }
.thenav h1{
  color: #003782;
  margin-top: 32px;
  position: relative;
  left: -14%;
  font-size: 35px;
}
  .nav-links ul li{
      font-family: Arial;
      font-size: 18px;
      position: relative;
      right: -28%;
  
  }
  .thenav h1{
    color: #003782;
    margin-top: 32px;
    position: relative;
    left: -16%;
    font-size: 35px;
  }
  .nav-links ul li a{
      text-decoration: none;
      color: #003782;
      padding: 8px 12px;
      transition: all .5s ease;
      font-size: 22px;
  }
  .nav-links ul li a:hover{
      background-color: #003782;
      border-radius: 3px;
      color: #fff;
  
  }
  #check{
    display: none;
  }
  .checkbtn{
    display: none;
  }
  
}
}