<app-sidebar></app-sidebar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap">
</head>

<body>
    <mat-card>
        <div class="detail-header">
            <label>Participants List</label> 
            <button class="btn_excel" mat-raised-button style="background-color: #003782;" color="primary" (click)="exportTableToExcel()"><i class="las la-file-download"></i>Generate List</button>   
        </div>   
            <table id="app-table" class="table" >
                <thead>
                    <tr>
                      
                        <th>No</th>
                        <th>Student Number</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Faculty</th>
                        <th>Cell Number</th>
                        <th>Role</th>
                        <th>Level</th>
                        <th>Specialization</th>
                        <th>Campus</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let us of readData">
                        
                       
                        <th>{{us.id}}</th>
                        <td>{{us.stud_number}}</td>
                        <td>{{us.name}}</td>
                        <td>{{us.surname}}</td>
                        <td>{{us.gender}}</td>
                        <td>{{us.age}}</td>
                        <td>{{us.stud_email}}</td>
                        <td>{{us.faculty}}</td>
                        <td>{{us.mobile_number}}</td>
                        <td>{{us.skills}}</td>
                        <td>{{us.level}}</td>
                        <td>{{us.specialization}}</td>
                        <td>{{us.campus}}</td>
                    </tr>
                  
                </tbody>
            </table>
        </mat-card>
</body>
</html>

