<!DOCTYPE html>
<html lang="en">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap">
  <title>TVH WEBSITE</title>

</head>
<body>
  <section class="menu">
    <nav class="thenav" >
      <a href=""><img src="../assets/tut-logo.png"></a>
      <h1>Tshwane varsity hackathon 2022</h1>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
       <i class="las la-bars"></i>
     </label>
      <div class="nav-links">
        <ul >
          <li><a href="home">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="rules">Rules</a></li>
          <li><a href="public-annoucement">Announcements</a></li>
          <li><a href="public-gallery">Gallery</a></li>
          <li><a href="rewards">Rewards</a></li>
          <li><a href="public-teams">Team</a></li>

        </ul>

      </div>
      <!-- <i class="las la-bars" (click)="theMenu()"></i> -->
    </nav>
  </section>
  <section>
    <div class="the-image-header">
      <h1 class="ann-heading">TVH Rules</h1>
    </div>
  </section>
  <section class="main">
    <h2>Competition Rules</h2>
     <p>By entering, you agree to accept these terms and conditions and warrant that you meet the entry requirements.</p>
    <br>
    <h2><i class="las la-user-edit"></i>Registrants</h2>
      <p>Your contact information will be shared with team members. You can only be a member of one team.
    <br>
    <br>
    <h2><i class="las la-gavel"></i>Judging</h2>
      <p>The Hackathon competition judges will choose all winners. All submissions must be completed by the required time. No requests for extensions will be considered.<br>
           To be eligible for prizes,  submission of content must use the Email provided.
          Judges are not eligible to compete for prizes.
          <br>All Hackathon entries will be judged by the Hackathon Competition Judging Panel against certain criteria. The criteria may include:
      </p>
        <ul>
            <li>Originality.</li>
            <li> Relevance to the challenge.</li>
            <li>Quality and design.</li>
            <li> Usability.</li>
        </ul>
    <br>
    <h2><i class="las la-trophy"></i>Winners and awards</h2>
          <p>To be eligible for prizes, all entrants must be currently enrolled and studying at Tshwane University of Technology, University of Pretoria, University of South Africa and Sefako Makgatho Health<br> Sciences University this semester.
            To be eligible for prizes, all team members must be present when winners are announced. Judges’ discretion applies to special circumstances .
          <br>Each winning entrant must provide their details to the Hackathon organizers.
          </p>
    <br>
    <h2><i class="las la-exclamation-triangle"></i>Important Notice</h2>
          <p>To ensure a level field for all contestants, all code, design, art, music, SFX, and assets must be created during the Hackathon.<br>
            We want to ensure that all participants start off on the same footing and we also want to preserve the true nature of a Hackathon.<br>
            However, you are free and encouraged to make plans, create wireframes and brainstorm prior to the event.<br>
            The only exception to this rule includes material that is freely available to the public.<br>
            You are encouraged to use 3rd party services, APIs, public domain images, creative commons music, open source projects, libraries and frameworks.<br>
            There is no need to break DRY rules, when there are so many great resources available to all Hackers.<br>
            We take this rule very seriously for the sake of all members attending the event. Failure to comply may result in the disqualification of the offending team.<br>
            If your team qualifies for prizes, you could be subject to a code review to verify that there was no foul play.<br>
          </p>
    <br>
      <h2><i class="las la-envelope-open-text"></i>Submissions</h2>
          <p>Please engage with the contest in the ‘Hackathon spirit’ and in good faith. You must not enter a submission that: </p>
            <ul >
              <li>is potentially libellous, false, defamatory, privacy invasive or overtly political.</li>
              <li>includes material which potentially confidential, commercially sensitive, or which would cause personal distress or loss.</li>
              <li>has any commercial endorsement, promotion of any product, service or publication;</li>
              <li>has language which is offensive, obscene or otherwise inappropriate.</li>
              <li>is misleading, deceptive, violates a third party’s rights or is otherwise contrary to law.</li>
              </ul>
          <p>We reserve the right to reject submissions that do not comply with the letter and spirit of these rules.</p>
    <br>
      <h2><i class="las la-edit"></i>Authorization</h2>
          <p>Entrants consent to Hackathon representatives using their name, likeness, image and/orvoice in any media for an unlimited period of time, without remuneration, for any publicity and marketing purposes<br>
             Under these terms and conditions, you assign all intellectual property rights in the material you create pursuant to your involvement in this competition, including the coding of any appthat you may develop<br> (hereafter, Competition IP) to Tshwane University of Technology.</p><br>
          <p>To avoid any doubt: <br>
            Tshwane University of Technology, as the owner of Competition IP, is free to use and deal with it as it wishes (including into the development of a commercial product).<br> 
           You acknowledge and agree that you are not entitled to provide the Competition IP to any third party.<br>
           You agree that all Competition IP that you create pursuant to this competition is original in nature and hasn’t been copied or reproduced from any third party.</p>
    <br>            
      <h2><i class="las la-exclamation-circle"></i>Disclaimer</h2>
          <p>Tshwane University of Technology makes no representations or warranties of any kind, expressed or implied, including warranties of accuracy, in regard to any submissions or links published on the Hackathon website.<br>
             Tshwane University of Technology reserves the right to modify, suspend or cancel the Hackathon if it cannot be run due to any reason beyond Tshwane University of Technology’s control,or if Tshwane University of Technology<br>
               determines that the integrity or administration of the event has been adversely affected due to circumstances beyond its control.
             Tshwane University of Technology may also disqualify any individual who tampers with the process.<br>
             Tshwane University of Technology will not be liable for any loss, expense, damage or injury sustained by any entrant in connection with this event, the prize or redemption of the prize, except for any liability which cannot be excluded by law (in which case, that liability is limited to the minimum allowable by law).
              Any personal information you provide to Tshwane University of Technology in the course of entering the competition will be dealt with by Tshwane University of Technology in accordance with these terms and conditions and the University's Privacy Plan.
          </p>
    <br> 
      <h2>Code of Conduct</h2>
        <p>By participating in the Hackathon, as an observer or competitor, you agree to the following:</p>
          <h2><i class="las la-chevron-right"></i>Be respectful to others</h2>
              <p>Be kind to others and treat others with respect. Do not abuse, stalk, harass or threaten others.<br>
                 Offensive comments related to gender, sexual orientation, disability, physical appearance, body size, race or religion will not be tolerated.<br>
                 Do not disrupt other people or the event. Do not make inappropriate physical contact or pay unwelcome sexual attention to other participants.<br>
                 If you feel uncomfortable, are being harassed, notice that someone else is being harassed or have any other concerns, contact a Hackathon organizers immediately.
              </p>
    <br>    
      <h2><i class="las la-chevron-right"></i>Be thoughtful</h2>
        <p>In the spirit of innovation and inclusiveness, be mindful of others.<br>
              Do not swear or make sexist, racist, or other exclusionary jokes which may be offensive to those around you.<br>
              Only submit competition material that is suitable for anyone to view.
            </p>

      <h2><i class="las la-chevron-right"></i>Be respectful of the event</h2>
        <p>Keep the venue clean and tidy and use the rubbish and recycling bins as appropriate. Let the organizers know if there are any issues.Follow the competition rules. <br>
              Check the website and/or have a chat with one of the organizers if you are unclear on the competition rules. Remember, the Hackathon crew created this event for you. <br>
              Do not do anything to ruin it or engage in any behaviour that violates this code of conduct. The Hackathon organizers may take any action they deem appropriate, including warnings or expulsion from the Hackathon event.<br>
              If you are removed from the event due to inappropriate behaviour, you will no longer be eligible to compete for Hackathon prizes.
        </p>
            
      <h2><i class="las la-chevron-right"></i>Be amazing and enjoy yourself</h2>
          <p>Hack, innovate, create, and have a good time. Creating something meaningful within such a short amount of time can be stressful, but we would like to encourage everyone to take a break every now and then to relax and enjoy the event.</p>

  </section>
<app-footer></app-footer>
</body>
</html>
