<!DOCTYPE html>
<html lang="en">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap">
  <title>The First Webpage</title>

</head>
<body>
  <section class="menu">
    <nav class="thenav" >
      <a href=""><img src="../assets/tvh-logo1.png"></a>
      <h1>Tshwane varsity hackathon 2022</h1>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
       <i class="las la-bars"></i>
     </label>
      <div class="nav-links">

        <ul >
          <li><a href="">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="public-annoucement">Announcements</a></li>
          <li><a href="public-gallery">Gallery</a></li>
          <li><a href="rewards">Prizes</a></li>
          <li><a href="public-teams">Team</a></li>

        </ul>

      </div>
    </nav>
  </section>
  <section>
  <div class="the-main">
    <h1 class="ann-heading">Prizes</h1>
  </div>
</section>
<section>
  <div class="hori-line"></div>
</section>
<section>
  <div class="hori-line1"></div>
</section>
<section>
  <div class="the-head">
    <h1>Stand a chance to win <br><br>
      great prizes!</h1>
  </div>
</section>
 <section>
   <p>Cash prize, Gadgets and More !</p>
 </section>

 <section>
  <div class="row">
    <div class="box">

        <img src="../assets/image1.jpg">
        <h1 class="heading">1st Prize: Laptop</h1>

      </div>


    <div class="box">
      <img src="../assets/image23.jpg">
      <h1 class="heading">2nd Prize: Cash</h1>

    </div>
    <div class="box">
      <img src="../assets/image4.jpg">
      <h1 class="heading">3rd Prize: Phone</h1>

    </div>
    </div>
 </section>


<app-footer></app-footer>
</body>
</html>