<!DOCTYPE html>
<html lang="en">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap">
  <title>The First Webpage</title>

</head>
<body>
  <section class="menu">
    <nav class="thenav" >
      <a href=""><img src="../assets/tvh-logo1.png"></a>
      <h1>Tshwane varsity hackathon 2022</h1>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
       <i class="las la-bars"></i>
     </label>
      <div class="nav-links">

        <ul >
          <li><a href="">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="public-annoucement">Announcements</a></li>
          <li><a href="public-gallery">Gallery</a></li>
          <li><a href="rewards">Prizes</a></li>
          <li><a href="public-teams">Team</a></li>

        </ul>

      </div>
    </nav>
  </section>
 <section>
   <div class="main">
    <iframe src="https://www.youtube.com/embed/K__4bi7P6AM?autoplay=1&mute=1"></iframe>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>The future is a continuous construct of every now and before. Have a look at our before and let us create our now together at the Tshwane Varsity Hackathon 2022</p>
    <div class="heading">
      <h2>2019</h2>
    </div>

    <div class="gallery">
      <a target="_blank" href=" ../assets/x1.jpg"><img src=" ../assets/x1.jpg"></a>
      <a target="_blank" href=" ../assets/x17.jpg"><img src=" ../assets/x17.jpg"></a>
      <a target="_blank" href=" ../assets/x2.jpg"><img src=" ../assets/x2.jpg"></a>
      <a target="_blank" href=" ../assets/x10.jpg"><img src=" ../assets/x10.jpg"></a>
      <a target="_blank" href=" ../assets/x25.jpg"><img src=" ../assets/x25.jpg"></a>
      <a target="_blank" href=" ../assets/x29.jpg"><img src=" ../assets/x29.jpg"></a>
  </div>
  <div class="more-img">
    <a target="_blank" href="https://www.flickr.com/photos/kasicreate-a-thon/albums/with/72157711155428913"> <button class ="more-2019">More 2019 Hackathon Images</button></a>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="heading">
    <h2>2018</h2>
  </div>
  <div class="gallery1">
    <a target="_blank" href=" ../assets/x8.jpg"><img src=" ../assets/x8.jpg"></a>
    <a target="_blank" href=" ../assets/x4-4.jpg"><img src=" ../assets/x4-4.jpg"></a>
    <a target="_blank" href=" ../assets/x12.jpg"><img src=" ../assets/x12.jpg"></a>
    <a target="_blank" href=" ../assets/x7-5.jpg"><img src=" ../assets/x7-5.jpg"></a>
    <a target="_blank" href=" ../assets/x27.jpg"><img src=" ../assets/x27.jpg"></a>
    <a target="_blank" href=" ../assets/x11.jpg"><img src=" ../assets/x11.jpg"></a>
</div>

<div class="more-img">
  <a target="_blank" href="https://www.flickr.com/photos/kasicat/albums/72157702195281405">  <button class ="more-2018">More 2018 Hackathon Images</button></a>
</div>
   </div>

 </section>
 <app-footer></app-footer>
</body>
</html>