<app-sidebar></app-sidebar> 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap">
  <title>Dashboard Home</title>
</head>
<body>
    <section class="content">
        <div class="content-fluid">
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-info">
                        <div class="inner" *ngFor="let us of readDat">
                            <h1>{{us.number}}</h1>
                            <p>Teams</p>
                        </div>
                        <div class="icon">
                            <i class="las la-users"></i>
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-reg">
                        <div class="inner" *ngFor="let us of readData">
                            <h1>{{us.number}}</h1>
                            <p>Registered Participants</p>
                        </div>
                        <div class="icon">
                            <i class="las la-user-plus"></i>
                        </div>
                    </div>
                </div>
                <div _ngcontent-jbo-c8="" class="col-lg-3 col-md-6 col-sm-12">
                    <div _ngcontent-jbo-c8="" class="panel widget dark-brown">
                        <div _ngcontent-jbo-c8="" class="row row-table">
                            <div _ngcontent-jbo-c8="" class="col-xs-4 text-center brown pv-lg">
                                <span _ngcontent-jbo-c8="" class="text-sm" format="MMMM" now=""> May </span><br _ngcontent-jbo-c8="">
                                <span _ngcontent-jbo-c8="" class="h2 mt0" format="D" now=""> 25 </span>
                            </div>
                            <div _ngcontent-jbo-c8="" class="col-xs-8 pv-lg">
                                <span _ngcontent-jbo-c8="" class="text-uppercase" format="dddd" now=""> Wednesday </span><br _ngcontent-jbo-c8="">
                                <span _ngcontent-jbo-c8="" class="h2 mt0" format="h:mm" now=""> 8:53 </span>
                                <span _ngcontent-jbo-c8="" class="text-muted text-sm" format="a" now=""> am </span>
                            </div>
                            <div _ngcontent-jbo-c8="" class="icon-cal">
                                <i class="las la-calendar-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <mat-card class="demo-inline-calendar-card">
            <mat-calendar></mat-calendar>
        </mat-card>
    </section>


</body>
</html>
