<app-sidebar></app-sidebar>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
</head>
<body>
    <mat-card class="card">
        <div class="title">
            <label> Announcement list </label>
        </div>

    <table class="table" >
            <thead>
                <tr>
                   
                    
                    <th>Title</th>
                    <th>Message</th>
                    <th>Date</th>
               
              
                    <th style="width: 18%;">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let announcement of announcements"  >
                    <!-- <td> <mat-checkbox color="primary" (checked)="isTicked"  [value]="us.id" (change)="ticked(us.id)"> </mat-checkbox></td> -->

                    <!-- <td><input type="checkbox" [value]="us.id"  (change)="toggleEditable($event)"></td> -->
                    
                    <td>{{removeHTML(announcement.title)}}</td>
                    <td>{{removeHTML(announcement.message)}}</td>
                    <td>{{announcement.date | date:'fullDate'}}</td>
                    
                    

                    <td >
        
                        <button class="btn_delete" (click)="deletID( announcement.id )"  mat-raised-button style="background-color: #ce1127;" color="primary"> Delete </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </mat-card>
</body>
</html>