<app-sidebar></app-sidebar>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
</head>
<body>
    <mat-card class="card">
        <div class="title">
            <label> Leader/Mentor </label>
            <button style="background-color: #003782;" mat-raised-button color="primary" (click)="openDialog()"><i class="las la-user-plus"></i> ADD</button>
        </div>

    <table class="table" >
            <thead>
                <tr>
                   
                    <th>ID</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Occupation</th>
                    <th>Image</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th style="width: 18%;">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let us of team" >
                    <!-- <td> <mat-checkbox color="primary" (checked)="isTicked"  [value]="us.id" (change)="ticked(us.id)"> </mat-checkbox></td> -->

                    <!-- <td><input type="checkbox" [value]="us.id"  (change)="toggleEditable($event)"></td> -->
                    <td>{{us.id}}</td>
                    <td>{{us.name}}</td>
                    <td>{{us.surname}}</td>
                    <td>{{us.occupation}}</td>
                    <td><img class="image" [src]="us.file" width="80" height="80"></td>
                    <td>{{us.catagory}}</td>
                    <td>
                        {{us.description}}
                    </td>
                    <td>
                        <!-- <button class="btn_edit" mat-raised-button style="background-color: #003782;" color="primary" (click)="editButtonClick(us.id)"> Edit </button> -->
                        <button class="btn_delete" (click)="deletID(us.id)"  mat-raised-button style="background-color: #ce1127;" color="primary"> Delete </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </mat-card>
</body>
</html>