.new{
  display: flex;

  .newContainer {
    flex: 8;

    h1 {
      font-size: 14px;
      color: lightgray;
    }

    .top, .bottom {
      margin: 20px;
      -webkit-box-shadow: 2px 4px 5px 1px rgba(0,0,0,0.47);
      box-shadow: 2px 4px 5px 1px rgba(0,0,0,0.47);
      padding: 20px;
      display: flex;
    }

    .left {
      flex: 1;

      img {
        width: 250px;
        height: 150px;
        object-fit: cover;
      }
    }

    .right {
      flex: 2;

      form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;

        button {
          width: 150px;
          padding: 10px;
          border: none;
          background: darkolivegreen;
          color: white;
          font-weight: 700;
          cursor: pointer;
          margin: 5px;
        }

        .formInput {
          width: 40%;

          input,textarea {
            width: 100%;
            padding: 5px;
            border: none;
            border-bottom: 1px solid gray;
          }

          label {
            display: flex;
            align-items: center;
            gap: 5px;

            .icon {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}