.datatable {
  height: auto;
  width: 100%;

  .datatableTitle {
    width: 100%;
    font-size: 22px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link {
      text-decoration: none;
      color: darkolivegreen;
      font-size: 16px;
      font-weight: 400;
      border: 1px solid darkolivegreen;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

.cellWithImage {
  display: flex;
  align-items: center;

  .cellImage{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }
}

.cellWithStatus {
  padding: 5px;
  border-radius: 5px;

  &.online {
    background-color: rgba(0,128,0,0.5);
    color: darkgreen;
  }
  &.busy {
    background-color: rgba(255,217,0,0.5);
    color: orange;
  }
  &.offline {
    background-color: rgba(255,0,0,0.5);
    color: darkred;
  }
}

.cellAction {
  display: flex;
  align-items: center;
  gap: 15px;

  .link {
    text-decoration: none;
  }

  .viewButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: darkgreen;
    border: 1px dotted darkgreen;
    cursor: pointer;
  }

  .deleteButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: darkred;
    border: 1px dotted darkred;
    cursor: pointer;
  }
}